h2{
    background-color: azure;
}
.container-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: rgb(172, 226, 208);
    height: 5vh;
}
.container-navbar{
    background: rgb(48, 46, 53);
    list-style: none;
     height: 97vh; 
     width: 15vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container-navbar li a{
    color: white;
    font-weight: bolder;
    font-size: ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding-right:  20px;
}
.element{
    display: inline-flex;
    position: relative;
    margin-top: 8px
}
.container-navbar li a:hover{
    
    background-color: rgb(218, 48, 5);
    color: yellow;
    
    padding: 4px 8px;
    
    /*content : '..';*/
    counter-reset : counter(chrome-counter, upper-roman);
    box-shadow: 0px 0px 4px #222;
    border-radius: 1.5em .5em / 2.5em 2em;
    

}
.abc{
    margin-top: 3px;
    margin-left: 10px;
}
marquee{
    font-size: larger;
    padding: 4px;
    background-color: rgb(247, 217, 217);
    
    text-align: center;
    

}